    
<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>

<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta charset="utf-8">
	<meta name="viewport"    content="width=device-width, initial-scale=1.0">
	<meta name="description" content="">
	<meta name="author"      content="Sergey Pozhilov (GetTemplate.com)">
	
	<title>Client Registration</title>

	<link rel="shortcut icon" href="angular/mycss/resources/assets/images/gt_favicon.png">
	
	<link rel="stylesheet" media="screen" href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,700">
	<link rel="stylesheet" href="angular/mycss/resources/assets/css/bootstrap.min.css">
	<link rel="stylesheet" href="angular/mycss/resources/assets/css/font-awesome.min.css">

	<!-- Custom styles for our template -->
	<link rel="stylesheet" href="angular/mycss/resources/assets/css/bootstrap-theme.css" media="screen" >
	<link rel="stylesheet" href="angular/mycss/resources/assets/css/main.css">

	<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
	<!--[if lt IE 9]>
	<script src="assets/js/html5shiv.js"></script>
	<script src="assets/js/respond.min.js"></script>
	<![endif]-->
</head>

<body>
<div >

	<!-- Fixed navbar -->
	<div class="navbar navbar-inverse navbar-fixed-top headroom" >
		<div class="container">
			<div class="navbar-header">
				<!-- Button for smallest screens -->
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse"><span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
				<a class="navbar-brand" href=""><img src="angular/mycss/resources/assets/images/logo.png" alt="ADMIN"></a>
				<!-- <a class="navbar-brand" href="index.html">Cybage Software Private Ltd.</a> -->
			</div>
			<div class="navbar-collapse collapse">
				<ul class="nav navbar-nav pull-right">
					<li><a href="#/seeAllClients">See All Clients</a></li>
					<li><a href="#/searchClient">Search Clients</a></li>
					<li><a href="#/filterClient">Filter Clients</a></li>
					<li><a href="#/seeAllUsers">See All Users</a></li>
					<li><a href="#/displayAllRoles">See All Roles</a></li>
						<li><a href="#/displayAllPermissions">See All Permissions</a></li>
				
					<li class="dropdown">
						<a class="dropdown-toggle" data-toggle="dropdown">See Permissions<b class="caret"></b></a>
						<ul class="dropdown-menu">
							<li><a href="#/SeeAllPermissionGroup">By Group</a></li>
							<li><a href="#/SeeAllPermissionRole">By Role</a></li>
						</ul>
					</li> 
				<!-- 	<li><a href="../contact.jsp">Contact</a></li> -->
					<li class="active"><a class="btn" href="#/login">LOGOUT</a></li>
				</ul>
			</div><!--/.nav-collapse -->
		</div>
	</div> 
	<!-- /.navbar -->

	<header id="head" class="secondary"></header>

	<!-- container -->
	<div class="container">

		<ol class="breadcrumb">
			<li><a href="#/admin">Home</a></li>
		<!-- 	<li class="active">Registration</li> -->
		</ol>

		<div class="row">
			
			<!-- Article main content -->
			<article class="col-xs-12 maincontent">
				<header class="page-header">
					<h1 class="page-title">Registration</h1>
				</header>
				
	<div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
	<div class="panel panel-default">
		<div class="panel-body">
				<h3 class="thin text-center">Add Client Details</h3>
							
							<hr>

	<form>
  		<center><table>
  			<tr>
  			<td><label for="name">Name:</label></td>
  			<td><input type="text" ng-model="client.name" required></td>
  			</tr>
          
          <tr>
  			<td><label for="address">Address:</label></td>
  			<td><input type="text" ng-model="client.address" required></td>
  		  </tr>
          
           <tr>
  			<td><label>Domains:</label></td>
  			<td><input type="checkbox"  ng-model="client.domain1"><label class="light" for="domain">HealthCare</label><br>
                <input type="checkbox" ng-model="client.domain2"><label class="light" for="media">Media and Entertainment</label><br>
                <input type="checkbox" ng-model="client.domain3"><label class="light" for="technology">Technology</label><br>	
			</td>
  		  </tr>
         
      <!--     <tr>
  			<td><label for="desc">Description:</label></td>
  			<td><textarea rows="3" cols="30" placeholder="Enter Description About Client" ng-model="client.desc"></textarea>
          </td>
  		  </tr> -->
  		     <tr>
  			<td><label for="desc">Description</label></td>
  			<td><input type="text" ng-model="client.desc" required></td>
  		  </tr> 
  		  
          <tr>
  			<td><label for="revenue">Revenue:</label></td>
  			<td><input type="number" ng-model="client.revenue" placeholder="in numbers" required></td>
  		  </tr>
          
		   <tr>
  			<td><label for="employees">No. Of Employees</label></td>
  			<td><input type="number" ng-model="client.employees" placeholder="in numbers" required></td>
  		  </tr>         
          
          <tr>
  			<td><label for="presence">Presence:</label></td>
  			<td><input type="text" ng-model="client.presence" required></td>
  		  </tr> 
           
           
           <tr>
  			<td><label for="ceo">CEO:</label></td>
  			<td><input type="text" ng-model="client.ceo" required></td>
  		  </tr> 
          
          
          <tr>
  			<td><label for="cto">CTO:</label></td>
  			<td><input type="text" ng-model="client.cto" required></td>
  		  </tr> 
          
          
		  <tr>
  			<td><label for="poc1">POC:1</label></td>
  		<!-- 	<td><input type="text" ng-model="client.poc1"></td> -->
  			<td><div ng-init="refresh()">
				<select ng-model="client.poc1">
				<option  ng-repeat="lis in list" value="{{lis}}" >{{lis}}</option>
				</select>
				</div>
			</td>
  		  </tr> 
  		    <tr>
  			<td><label for="poc2">POC:2</label></td>
  		<!-- 	<td><input type="text" ng-model="client.poc2"></td> -->
  			<td><div ng-init="refresh()">
				<select ng-model="client.poc2">
				<option  ng-repeat="lis in list" value="{{lis}}" >{{lis}}</option>
				</select>
				</div>
			</td>
  		  </tr>
		  
                
         <tr>
  			<td><label for="status">Status:</label></td>
  			<td>
  			 <select ng-model="client.status">
            	<option value="new">New</option>
            	<option value="active">Active</option>
            	<option value="blocked">Blocked</option>
            	<option value="inactive">In-Active</option>
            	<option value="returned">Returned</option>
       		 </select>
        	</td>
  		  </tr> 
		   
      </table>

<button ng-click="add()">Add Details</button>
</center>

</form>
						
							
						</div>
					</div>

				</div>
				
			</article>
			<!-- /Article -->

		</div>
	</div>	<!-- /container -->
	
	<footer id="footer" class="top-space">

		<div class="footer1">
			<div class="container">
				<div class="row">
					
					<div class="col-md-3 widget">
						<h3 class="widget-title">Contact us</h3>
						<div class="widget-body">
							<p>+919996212303<br>
								<a href="#">rohitjangra.620@gmail.com</a><br>
								<br>
								cybage software private ltd.
							</p>	
						</div>
					</div>

				

				</div> <!-- /row of widgets -->
			</div>
		</div>

		<div class="footer2">
			<div class="container">
				<div class="row">
					
					<div class="col-md-6 widget">
						<div class="widget-body">
							
						</div>
					</div>

					<div class="col-md-6 widget">
						<div class="widget-body">
							<p class="text-right">
								Copyright &copy; 2016, Cybage Software Pvt Ltd  
							</p>
						</div>
					</div>

				</div> <!-- /row of widgets -->
			</div>
		</div>

	</footer>	
		
	


</div>
	<!-- JavaScript libs are placed at the end of the document so the pages load faster -->
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
	
<!--  <script src="controller/angular.min.js"></script> 
  <script src="controller/module.js"></script> 	 -->
  <!--   <script src="controller/ClientCtrl.js"></script>  -->
    <script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
	<script src="angular/mycss/resources/assets/js/headroom.min.js"></script>
	<script src="angular/mycss/resources/assets/js/jQuery.headroom.min.js"></script>
	<script src="angular/mycss/resources/assets/js/template.js"></script>
</body>
</html>
